@import
	url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900")
	;

@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

.weather-card {
	margin: 30px auto;
	height: 250px;
	width: 200px;
	background: #fff;
	box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px
		rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

.weather-card .top {
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden;
	background:
		url("https://s-media-cache-ak0.pinimg.com/564x/cf/1e/c4/cf1ec4b0c96e59657a46867a91bb0d1e.jpg")
		no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}

.weather-card .top .wrapper {
	padding: 30px;
	position: relative;
	z-index: 1;
}

.weather-card .top .wrapper .heading {
	font-size: 10px;
	font-weight: 600px;
	color: #fff;
}

.weather-card .top .wrapper .location {
	font-size: 15px;
	font-weight: 300px;
	color: #fff;
}

.weather-card .top .wrapper .temp {
	
}

.weather-card .top .wrapper .temp a {
	text-decoration: none;
	color: #fff;
}

.weather-card .top .wrapper .temp a .temp-type {
	font-size: 40px;
}

.weather-card .top .wrapper .temp .temp-value {
	display: inline-block;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
}

.weather-card .top .wrapper .temp .deg {
	display: inline-block;
	font-size: 10px;
	font-weight: 600;
	color: #fff;
	vertical-align: top;
	margin-top: 10px;
}

.weather-card .top {
	position: relative;
	height: 180px;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	text-align: center;
}

.weather-card .top:after {
	content: "";
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}

.weather-card .bottom {
	padding: 0 30px;
	background: #fff;
}

.weather-card .bottom .wrapper .forecast {
	overflow: hidden;
	margin: 0;
	font-size: 0;
	padding: 0;
	padding-top: 20px;
	max-height: 155px;
}

.weather-card .bottom .wrapper .forecast li {
	display: block;
	font-size: 25px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.25);
	line-height: 1em;
	margin-bottom: 30px;
}

.weather-card .bottom .wrapper .forecast li.active {
	color: rgba(0, 0, 0, 0.8);
}
.container_weather{
	 float: left;
     width: 20%;
}
.weather_info_icon{
	float:left;
	width:20%;
}
.weather-card .top .wrapper {
     padding: 0px; 
    position: relative;
    z-index: 1;
}